.container{
    display: grid;
    background-color: yellow;
    height: 75vh;
    width: 80vw;

    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 100px;

    
}

.box{
    background-color:greenyellow;
    height: 100px;
    width: 100px;

}